h1 Snap-WH Database Info
p printed/ingested orders are kept here for access to information about when they were printed and by whom.
h3 technical details: 
p this is a node app running with postgresql, pug and express
hr
footer 
    p Created by: George Pastushok 2024